{% extends 'base.html' %}
{% block title %}
    Create Post
{% endblock %}

{%block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-create-post" style="color:black">
            {{ form.hidden_tag() }}
            <br><br>
            <h1>
                Create a New Post
            </h1>
            <br>
            {{ form.title.label() }}
            {{ form.title(class="form-control", placeholder="Write atleast 10 characters") }}
            {% for error in form.title.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            {{ form.description.label() }}
            {{ form.description(class="form-control", rows ="10", placeholder="Write atleast 30 characters") }}
            {% for error in form.description.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary animated-button") }}

            <br><br>
        </form>
    </div>
</body>

{%endblock %}